* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(192, 210, 210);
  border: 10px solid rgb(10, 16, 81);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.item {
  width: 30%;
  height: 83vh;
  background-color: white;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  padding: 10px;
}
h2 {
  margin: 20px 10px;
}

img,
video {
  width: 100%;
  margin: auto;
  border-radius: 15px;
}
span {
  display: inline-block;
  margin: 20px 10px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 25px;
}
.button {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 20px;
  padding: 7px;
  margin: 20px 0px;
  background-color: aquamarine;
}
a {
  text-decoration: none;
  align-items: center;
}
