/* This Are Only Most Used Selector */

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
}
/* Class Selector */
.red {
  background-color: red;
}
/* Id Selector */
#green {
  background-color: green;
}
/* Direct child selector */
div > p {
  color: black;
  background-color: rgb(42, 165, 91);
}
/* Desendent Selector */
div span {
  color: white;
  background-color: rgb(47, 0, 255);
}
/* Pseudo-Selector */
a:visited {
  color: hotpink;
}
a:link {
  color: green;
}
a:active {
  background-color: red;
}
a:hover {
  font-size: 30px;
  background-color: yellow;
}
